    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    body{
        
        padding: 20px;
        width: 500px;
        height:500px;
        border-radius: 63px;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-color: white
        

    }
    .calculator{
        border: 3px solid #717377;
        padding: 20px;
        border-radius: 19px;
        background: transparent;
        box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
        background-color:black;
        
    }
    input{
        width: 400px;
        height: 50px;
        border: none;
        padding: 20px;
        margin: 10px;
        font-size: 50px;
        box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.3);
        text-align: right;
          cursor: pointer;
          color:gray;
          
    

    }
    
    button{
        border: none;
        width: 80px;
        height: 70px;
        margin: 1px;
        border-radius: 50px;
        color: white;
     box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
     font-size: 25px;
     text-align: center;
     cursor: pointer;
        
    
     
    
    }
    .btn{
        color:gold;
    }
    .b{
        color: gold;
    }
    .t{
        color: gold;
    }
    .y{
        color: gold;
    }
    .u{
        color: gold;
    }
    .p{
        color: black;
    }
    .l{
        color: black;
    }
    .i{
        color: black;
    }
    .a{
        color: black;
    }
    .s{
        color: black;
    }
    .q{
        color: black;
    }
    .d{
        color: black;
    }
    .q{
        color: black;
    }
    .z{
        color: black;
    }
    .x{
        color: black;
    }
    .g{
        color: black;
    }
    .h{
        color: black;
    }
    .e{
        color: black;
    }
    .c{
        color: black;
    }
    .v{
        color: black;
    }
    .f{
        color: black;
    }
    .m{
        color: black;
    }